/* Base Styles */
body {
    line-height: 1.1;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
}

img, embed, object, video { 
    max-width: 100%;
}

/* Typography */
.heebo {
    font-family: 'Heebo', sans-serif;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw900 {
    font-weight: 900;
}

.bold {
    font-weight: bold;
}

/* Colors */
.heyserious {
    color: rgb(175,197,209);
}

.iamaronfoot {
    color: rgb(128,129,132);
}

.ronwork {
    color: rgb(67,80,90);
}

.white {
    color: rgb(250,250,250);
}

/* General Components */
label {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;    
    font-size: .8em;
    margin-bottom: 0;
    padding-bottom: .5em;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(67,80,90);
    border-color: rgb(67,80,90);
    font-weight: 500;
    font-size: 1em;
    margin-top: .85em;
    border-radius: 0;
}

button:hover {
    color: rgb(175,197,209);
}

/* Media Queries */
@media only screen and ( min-width: 992px ) {
    .container-fluid {
        padding-left: 10%;
        padding-right: 10%;
    }
	
    label {
        font-size: 1.875em;
    }

    .fs85 {
        font-size: 6em;
    }

    .fs50 {
        font-size: 3.75em;
    }

    .fs30 { 
        font-size: 2.5em;
    }

    .fs18 { 
        font-size: 1.875em;
    }

    #aboutFace {
        padding-top: 0;
        padding-bottom: 0;
    }

    #aboutBox, #contactBox {
        margin: 4% 0;
    }

    #socialicons {
        text-align: right;
    }
}

/* Sections Styles */
#header {
    background-color: rgb(66,79,89);
}

#about {
    background-color: rgb(255,255,255);
}

#contact {
    background-color: rgb(212,214,215);
}

#footer {
    background-color: rgb(66,79,89);
}

/* Miscellaneous */
.makeshiftHr { 
    text-align: center;
    height: .5em;
    border-bottom: 2px solid black;
    margin-bottom: .5em; 
}

h5 {
    overflow: hidden;
    text-align: center;
}

h5:before,
h5:after {
    background-color: rgb(175,197,209);
    content: "";
    display: inline-block;
    height: 3.5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h5:before {
    right: 0.5em;
    margin-left: -50%;
}

h5:after {
    left: 0.5em;
    margin-right: -50%;
}
